<!DOCTYPE html>
<html>
  <head>
    <title>TestApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% flash.each do |name, msg| %>
      <%= content_tag(:div, msg, class: "flash #{name}") %>
    <% end %>
    <!-- ログアウトボタンの追加 -->
    <% if user_signed_in? %>
      <%= button_to 'Logout', destroy_user_session_path, method: :delete %>
    <% end %>

    <!-- ここで個別のビューが挿入されます -->
    <%= yield %>
  </body>
</html>
